.carpage {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
}

.filterDiv {
    margin-top: 2rem;
}

.filterDiv button {
    border: none;
    background-color: antiquewhite;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 2rem;
    cursor: pointer;
    color: rgb(77, 76, 76);
}

.filterDiv .clearbtn {
    background-color: transparent;
    text-decoration: underline;
}

.displayCars {
    margin-top: 5rem;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.displayCars .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    width: 25rem;
    height: 30rem;
    margin: 1rem;
}

.image {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}



.nameNbill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameNbill .name {
    font-size: 1.4rem;
    font-weight: 600;
}

.nameNbill .bill {
    font-size: 1.4rem;
    font-weight: 600;
}

.nameNbill .bill .perday {
    font-size: 1rem;
    font-weight: 3001;
}

.type button {
    border: none;
    /* background-color: rgb(34, 80, 52); */
    /* background: transparent; */
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 3px;
    margin-right: 2rem;
    cursor: pointer;
    color: #1d1c1c;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.displayCars a {
    text-decoration: none;
    color: black;
}

.filterDiv .selected {
    background-color: rgb(34, 80, 52);
    color: #fff;
}